@using PagedList.Mvc

@model PagedList.IPagedList<Blog.Models.UserModel>

@{
    ViewBag.Title = "ListUsers";
}

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">@Html.ActionLink(item.UserName,"Details","Users",new { id = item.Id },null)<span class="badge">@item.Blogs.Count</span></li>
    }
</ul>