@using Blog.Controllers
@using PagedList

@model IEnumerable<Blog.Models.PostModel>

@if (Model != null && Model.Count() != 0)
{

    <h4><small>RESULT BY SEARCH: @ViewBag.Search</small></h4>
    @Html.Partial("DisplayPost", Model)
    
}
else
{
    <h4><small>Nothing is found:(</small></h4>
}
